.techstack {
    padding-left: 130px;
    margin-top: 60px;
}

.techstack hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.techstack h2 {
    font-weight: bold;
    color: #138781;
}

.techstack .card{
    cursor: pointer;
}

.techstack .tech-icon {
    font-size: 2rem;
    margin-right: 10px;
}

.techstack .card:hover {
    background-color: #3b8ff3;
    color: white;
    border: none;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}